@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
body{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: white;
}
a{
  text-decoration: none;
  color: inherit;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.App__logo{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__logo--text:hover{
  color: lightgreen;
}
.header{
  height: 510px;
}
header{
    height: 50px;
    z-index: 1;
    position: sticky;
    top: 0;
}
.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media(max-width:1000px){
  header{
    height: 100px;
  }
  .App-header{
    flex-direction: column-reverse;
  }
  .App__nav,.App__logo{
    height: 50% !important;
  }
  .App__nav--links{
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App__nav{
  width: 50%;
  height: 100%;
}
.App__nav--links{
      padding: 0;
}
.link a{
  width: 100%;
  height: 100%;
}
.link{
  width: calc(100% / 4);
  justify-content: center;
}
.link:hover{
  background-color: lightgreen;
  color: #eee;
}

/* Cover Slideshow CSS */
.cb-slideshow {
/* position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;*/
z-index: 0;
list-style-type: none;
}

.cb-slideshow li{
list-style: none;
}
.cb-slideshow li span {
width: 100%;
position: absolute;
top: 90px;
left: 0px;
color: transparent;
background-size: cover;
background-position: 50% 50%;
background-repeat: none;
opacity: 0;
z-index: 0;
animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
/* z-index: 1000;
position: absolute;
bottom: 30px;
left: 0px; */
width: 100%;
text-align: center;
opacity: 0;
color: #fff;
animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
font-size: 240px;
padding: 0;
line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
background-image: url(images/1.JPG);
}
.cb-slideshow li:nth-child(2) span {
background-image: url(images/2.jpg);
animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
background-image: url(images/3.JPG);
animation-delay: 6s;
}
.cb-slideshow li:nth-child(4) span {
background-image: url(images/4.jpg);
animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
background-image: url(images/5.jpg);
animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
background-image: url(images/6.JPG);
animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {

animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
animation-delay: 30s;
}
/* Animation for the slideshow images */

@keyframes imageAnimation {
0% { opacity: 0;
animation-timing-function: ease-in; }
8% { opacity: 1;
   animation-timing-function: ease-out; }
17% { opacity: 1 }
25% { opacity: 0 }
100% { opacity: 0 }
}

@media screen and (max-width: 1140px) {
.cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
.cb-slideshow li div h3 { font-size: 80px }
}/* end CSS slideshow */


/* CSS Time Line */
h1{
  font-size:60px;
  text-align:center;
}
.timeline{
  position:relative;
  margin:0 auto;
  margin-top: 50px;
  padding:40px 0;
  width:50%;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:lightgreen;
  box-shadow: 1px 1px 1px 0px #045704e0;
  height: 94.6%;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:lightgreen;
  border-radius:50%;
  box-shadow:1px 1px 1px 0px #045704e0;
}
.timeline ul li:nth-child(even):before{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:lightgreen;
  border-radius:50%;
  box-shadow:1px 1px 1px 0px #045704e0;
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:lightgreen;
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
  color: #000;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:lightgreen;
  color:#fff;
  border-radius:18px;
  box-shadow:1px 1px 1px 0px #045704e0;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:lightgreen;
  color:#fff;
  border-radius:18px;
  box-shadow:1px 1px 1px 0px #045704e0;
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding: 90px 0;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:91%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}
.both{
  clear:both;
}
/* fadeIn */
#ict,
#ziek,
#beheerder,
#monteur,
#opleid,
#vaar{
  opacity: 0;
}/* CSS footer */

/* progress bar  */
.skillbar-container {
position:relative;
display:block;
margin-bottom: 15px;
width: 100%;
background-color: #666463;
background-color: rgba(255,255,255,.1);
height:35px;
}

.skills {
height:35px;
height:5px;
width:0px;
}/* end progress bar */
.footer{
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  width: 100%;
  background-color: #222;
}
.footer .footer__inner{
  width: 50%;
}
.footer .footer__inner .App-header{
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}
.footer__copy{
  /* color: white; */
}

.cover{
  height: 800px;
}
